
<img src="/profil.png"/>
<h1>Welcome!</h1>
<p>This is the front page of my first Rails application on Elastic Beanstalk.</p>

<a href="https://github.com/DariusStone7" target="_blank">by dariusstone7</a>